body {
    background-color: #0f0210;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {

    background-color: #050505;
    color: white;
    padding: 10px;
}
.navbar a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #444;
    padding: 10px;
}
.dropdown:hover .dropdown-content {
    display: block;
}

  

.container {
    background-color: white;
    width: 100%;
    max-width: 400px;
    margin: 5% auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: black; 
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

.form input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px; 
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}

.form input:focus {
    border-color: #5a0b63; 
}

.form button {
    width: 100%;
    padding: 12px;
    background-color: #5a0b63;
    color: white;
    border: none;
    border-radius: 8px; 
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.form button:hover {
    background-color: #4a094f;
}

.link {
    margin-top: 15px;
    font-size: 14px;
    color: #5a0b63;
}

.link a {
    color: #5a0b63;
    text-decoration: none;
    font-weight: bold;
}

.link a:hover {
    text-decoration: underline;
}
